{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
      "transform-react-jsx",
      "syntax-dynamic-import",
  	  ["transform-runtime", {
  	      "polyfill": false,
  	      "regenerator": true
  	    }]
  ]
}