// 滤镜 过滤器  <wxs src="../../wxs/filters.wxs" module="filters" />
var filters = {};
filters.JSONparse = function(value) {
  return JSON.parse(value);
}
filters.JSONstringify = function(value) {
  return JSON.stringify(value);
}
/*
    square200：宽200高200正方形裁剪图
    square400：宽400高400正方形裁剪图
    scale200：等比缩放200x200的缩略图
    scale400：等比缩放400x400的缩略图
*/ 
filters.imageSquare200 = function(value) {
  return value + '@square200'
}
filters.imageSquare400 = function (value) {
  return value + '@square400'
}
filters.imageScale200 = function (value) {
  return value + '@scale200'
}
filters.imageScale400 = function (value) {
  return value + '@scale400'
}
filters.toFixed2 = function(value){
  return parseFloat(value).toFixed(2);
}
// 处理距离
filters.distance = function (value) {
  value = parseFloat(value);
  return value < 1 ? value*1000 + 'm' : value.toFixed(2)+'km';
}
  

module.exports = filters;